<nav class="cinema-navbar">
    <a href="/" class="nav-item">🏠 דף הבית</a>
    <a href="/video/gallery" class="nav-item">🎞️ גלריית סרטים</a>
    <a href="/recommendations" class="nav-item">⭐ המלצות</a>
    <a href="/video/search" class="nav-item">🔍 חיפוש סרטים</a>
    

    <% if (user) { %>
        <a href="/profile" class="nav-item">🙋‍♂️ הפרופיל שלי</a>
        <a href="/user/logout" class="nav-item logout-btn">🚪 יציאה</a>
    <% } else { %>
        <a href="/login" class="nav-item">🔑 התחברות</a>
        <a href="/register" class="nav-item">📝 הרשמה</a>
    <% } %>
</nav>
