<!DOCTYPE html>
<html lang="he">
<%- include('partials/head') %> <!-- חיבור ה-HEAD -->

<body>
    <%- include('partials/navbar') %> <!-- תפריט ניווט -->

    <main class="home-container">
        <h1 class="cinema-title">🍿 שלום, אני ג'ימי הממליץ שלכם 🎬</h1>
        <p class="cinema-subtitle">מצאתי את הסרטים הכי טובים בשבילכם 🎟️</p>

        <div class="buttons-container">
            <a href="/recommendations" class="cinema-button">⭐ המלצות</a>
            <a href="/video/gallery" class="cinema-button">🎞️ גלריית סרטים</a>
        </div>

        
    </main>

    <%- include('partials/footer') %> <!-- פוטר -->
</body>
</html>
